<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="SidenavService.isOpened"
    class="sidenav"
    [fixedInViewport]="true"
  >
    <div class="main-wrap">
      <div class="header-sid">
        <div class="logo-container-sidenav">
          <img
            [src]="ui.isLightMode() ? logolight : logodark"
            routerLink="/"
            (click)="ui.activeLink = ''"
          />
        </div>
      </div>
      <div class="body-sid">
        <div class="menu-items">
          <div
            class="menu-item"
            [class.active-item]="item.path === ui.activeLink"
            (click)="redirectTo(item.path)"
            *ngFor="let item of links"
          >
            <div class="icontainer">
              <mat-icon class="material-icons-outlined">
                {{ item.icon }}
              </mat-icon>
            </div>
            <div class="label">
              {{ item.label | translate }}
            </div>
          </div>
        </div>
        <div class="footer-sid">
          <div class="button-box">
            <button mat-icon-button [matMenuTriggerFor]="aboveMenu">
              <mat-icon class="white-button">language</mat-icon>
            </button>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
              <button
                mat-menu-item
                *ngFor="let item of languages"
                (click)="changeLang(item.value)"
              >
                <img [src]="item.img" width="40" height="40" />
              </button>
            </mat-menu>
          </div>

          <div class="button-box">
            <button mat-icon-button (click)="toggleColorMode()">
              <mat-icon *ngIf="ui.darkMode" class="white-button"
                >dark_mode</mat-icon
              >
              <mat-icon *ngIf="!ui.darkMode" class="white-button"
                >light_mode</mat-icon
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
