mat-sidenav {
  background-color: #212429;
  width: 65vw;
  max-width: 320px;
}

.main-wrap {
  height: 100%;
}
.header-sid {
  height: 100px;
  border-bottom: 1px solid #3e4245;
}

.body-sid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 23px;
  height: calc(100% - 100px);
  .menu-items {
    display: flex;
    flex-direction: column;

    .menu-item {
      display: flex;
      padding: 5px 0;
      cursor: pointer;
      .icontainer {
        position: relative;
        width: 50px;
        height: 50px;
        mat-icon {
          position: absolute;
          top: 20%;
          left: 20%;
          font-size: 31px;
          color: #fff;
        }
      }
      .label {
        display: flex;
        align-items: center;
        width: 75%;
        padding: 10px;
        font-size: 18px;
        color: #fff;
      }
    }
  }

  .footer-sid {
    display: flex;
    justify-content: space-between;
    background-color: #212429;
    border-top: 1px solid #3e4245;
    height: 52px;
    .button-box {
      width: 60px;
      position: relative;
      display: flex;

      button {
        position: absolute;
        bottom: 15%;
        left: 15%;
        mat-icon {
          color: #fff;
          font-size: 24px;
        }
      }
    }
  }
}

.active-item {
  background-color: #dea01e !important;
  .label {
    // color: #dea01e !important;
    color: #fff;
  }
  mat-icon {
    // color: #dea01e !important;
    color: #fff;
  }
}

::ng-deep .mat-menu-content {
  background-color: #282b30;
  display: flex;
  align-content: center;
  justify-content: center;

  box-shadow: -1px -1px 33px 4px rgba(42, 45, 52, 0.76);
  -webkit-box-shadow: -1px -1px 33px 4px rgba(42, 45, 52, 0.76);
  -moz-box-shadow: -1px -1px 33px 4px rgba(42, 45, 52, 0.76);
}
.mat-menu-item {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: #282b30;
  color: #fff;
}

.white-button {
  color: #fff;
}
