<div class="row about-me">
  <div class="col-12 col-lg-5 left-about-me">
    <img src="../../../assets/placeholder-home.png" alt="image-me" />
  </div>
  <div class="col-12 col-lg-7 right-about-me" style="color: white">
    <div class="about-me-info">
      <div class="info-header">
        {{ "home_who" | translate }}
      </div>
      <div class="info-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, repellat
        asperiores perspiciatis esse nam explicabo commodi assumenda obcaecati
        atque necessitatibus velit nihil corporis voluptates voluptate veniam
        corrupti architecto mollitia impedit!.

        <br />
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, repellat
        asperiores perspiciatis esse nam explicabo commodi assumenda obcaecati
        atque necessitatibus velit nihil corporis voluptates voluptate veniam
        corrupti architecto mollitia impedit!.
      </div>
      <div class="info-button-container">
        <div class="button-container">
          <button mat-flat-button>
            {{ "home_who_download" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
