# Archivos y directorios de Node.js
/node_modules/
npm-debug.log
yarn-error.log

# Archivos y directorios de Angular
/dist/
/out-tsc/
/src/**/*.ngfactory.js
/src/**/*.css.shim.ts
/src/**/*.ngstyle.ts
/src/**/*.ngsummary.json
/src/$$_gendir/

# Archivos y directorios de IDE y editores de texto
/.idea/
/.vscode/
*.suo
*.ntvs*
*.njsproj
*.tsrc
*.code-workspace

# Archivos y directorios de SO
.DS_Store
Thumbs.db

# Archivos de logs
*.log

# Archivos de configuración de entorno
.env
