.logo-container {
  img {
    cursor: pointer;
  }
}

.menu-items-wrap {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 5%;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    width: 100px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    color: var(--text-color);
  }

  .active-item {
    color: var(--contrast-text) !important;
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  padding: 0 5%;
  height: 100px;
  background-color: var(--background-color);
}

::ng-deep mat-select {
  border-radius: 2px;
  width: 50px;
  background-color: var(--background-color);

  .mat-select-panel {
    background-color: var(--background-color);
  }

  .mat-option {
    background-color: var(--background-color);
  }
}

::ng-deep .mat-select-content.mat-select-content-appearance-fill {
  background: var(--background-color);
}

::ng-deep .mat-option.mat-option-appearance-fill {
  background: var(--background-color);
}

.logo-container {
  img {
    cursor: pointer;
    max-width: 155px; // O cualquier valor que se ajuste mejor a tu diseño
    height: auto; // Esto mantiene la relación de aspecto de la imagen al cambiar su anchura
  }
}

::ng-deep .mat-option-text {
  width: 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.white-button {
  color: var(--text-color);
}
