.logo-container {
  img {
    cursor: pointer;
  }
}

.menu-items-wrap {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 5%;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    width: 100px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    color: #fff;
  }

  .active-item {
    color: #dea01e !important;
  }
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  padding: 0 5%;
  height: 100px;
  background-color: #212429;
}

mat-select {
  border-radius: 2px;
  width: 50px;

  mat-option {
    padding: 10px 0;
    width: 100%;

    .mat-active {
      background-color: red;
    }
  }
}

.lang-container {
  position: relative;

  img {
    position: absolute;
    top: -5px;
    right: 21px;
  }
}

::ng-deep .mat-option-text {
  width: 20px;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.white-button {
  color: #fff;
}
