<mat-toolbar>
  <div class="logo-container">
    <img
      [src]="ui.isLightMode() ? logolight : logodark"
      routerLink="/"
      (click)="ui.activeLink = ''"
    />
  </div>

  <div class="menu-items-wrap" *ngIf="!ui.mobileSize">
    <div
      class="item"
      [class.active-item]="item.path === ui.activeLink"
      *ngFor="let item of links"
      (click)="redirectTo(item.path)"
    >
      {{ item.label | translate }}
    </div>
  </div>

  <span class="spacer"></span>

  <div class="header-rightside-container" *ngIf="!ui.mobileSize">
    <div class="button-box">
      <button mat-icon-button [matMenuTriggerFor]="aboveMenu">
        <img [src]="language?.activeLang.img" width="40" height="40" />
      </button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button
          mat-menu-item
          class="menu-item-active"
          *ngFor="let item of languages"
          (click)="changeLang(item.value)"
          [ngClass]="{ 'menu-item-active': item.value === language.lang }"
        >
          <img [src]="item.img" width="40" height="40" />
        </button>
      </mat-menu>
    </div>

    <button mat-icon-button (click)="toggleColorMode()" *ngIf="!ui.mobileSize">
      <mat-icon *ngIf="ui.darkMode" class="white-button">dark_mode</mat-icon>
      <mat-icon *ngIf="!ui.darkMode" class="white-button">light_mode</mat-icon>
    </button>
  </div>
  <button
    mat-icon-button
    class="white-button"
    (click)="toggleSidenav()"
    *ngIf="ui.mobileSize"
  >
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
