.logo-container {
  img {
    cursor: pointer;
  }
}

.menu-items-wrap {
  display: flex;
  height: 100%;
  align-items: center;
  margin-left: 5%;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    width: 100px;
    height: 50px;
    cursor: pointer;
    text-align: center;
    color: var(--text-color);
    font-size: 20px;
  }

  .active-item {
    color: var(--contrast-text) !important;
  }
}

.spacer {
  flex: 1 1 auto;
}

.header-rightside-container {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.menu-item-active {
  background-color: var(--contrast-active-flag) !important;
  border-radius: 6px;
}

mat-toolbar {
  padding: 0 5%;
  height: 100px;
  background-color: var(--background-color);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.logo-container {
  img {
    cursor: pointer;
    max-width: 155px;
    height: auto;
  }
}

.white-button {
  color: var(--text-color);
}
