<mat-toolbar>
  <div class="logo-container">
    <img
      src="../../../assets/head-placeholder-dark.png"
      routerLink="/"
      (click)="activeLink = ''"
    />
  </div>

  <div class="menu-items-wrap" *ngIf="!UI.mobileSize">
    <div
      class="item"
      [class.active-item]="item.path === activeLink"
      *ngFor="let item of links"
      (click)="redirectTo(item.path)"
    >
      {{ item.label }}
    </div>
  </div>

  <span class="spacer"></span>

  <!-- <mat-select
    (selectionChange)="changeLang($event.value)"
    [(ngModel)]="lang"
    *ngIf="!UI.mobileSize"
  >
    <mat-option value="en">
      <img src="../../../assets/flags/gb.svg" />
    </mat-option>
    <mat-option value="es"
      ><img src="../../../assets/flags/es.svg"
    /></mat-option>
    <mat-option value="fr"
      ><img src="../../../assets/flags/pt.svg"
    /></mat-option>
  </mat-select> -->

  <mat-select [(value)]="lang" [ngClass]="lang">
    <mat-option value="option1" *ngFor="let language of languages"
      >{{ language.label }}
      <img with="30" height="30" [src]="language.img" />
    </mat-option>
  </mat-select>

  <button mat-icon-button (click)="toggleColorMode()" *ngIf="!UI.mobileSize">
    <mat-icon *ngIf="colorMode === 'dark'">dark_mode</mat-icon>
    <mat-icon *ngIf="colorMode === 'light'">light_mode</mat-icon>
  </button>
  <button
    mat-icon-button
    class="white-button"
    (click)="toggleSidenav()"
    *ngIf="UI.mobileSize"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <button
    mat-icon-button
    class="white-button"
    [matMenuTriggerFor]="menu"
    *ngIf="UI.mobileSize"
  >
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</mat-toolbar>
