<div class="container fluid main">
  <div class="contact-wrapper">
    <div class="label1">Have Questions?</div>
    <div class="separator"></div>
    <div class="label2">Contact Me!</div>
  </div>
  <div class="row form-wrap">
    <div class="col-12 col-md-6">
      <div class="input-wrap">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <div class="input-wrap">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput />
        </mat-form-field>
      </div>

      <div class="input-wrap">
        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput />
        </mat-form-field>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-wrap">
        <mat-form-field appearance="fill">
          <mat-label>Your Message</mat-label>
          <textarea style="resize: none" matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
