.contact-wrapper {
  margin: 70px auto 60px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);

  .label1 {
    font-size: 18px;
    padding: 8px;
  }

  .separator {
    width: 50px;
    height: 3px;
    background-color: var(--contrast-text);
  }

  .label2 {
    font-size: 20px;
    padding: 5px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.form-wrap {
  margin-top: 70px;
  width: 100%;
  margin: 0 auto;
  mat-form-field {
    width: 100%;

    input,
    textarea {
      color: var(--text-color);
    }

    textarea {
      height: 180px;
    }
  }

  // Remove incremental in number type
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

::ng-deep {
  // mat-label focused style
  .mat-form-field.mat-focused .mat-form-field-label {
    color: var(--contrast-text) !important;
  }

  // mat-input focused color
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: var(--contrast-text) !important;
  }

  // border bottom line
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: var(--contrast-text) !important;
  }

  // Color of mat form.
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background: var(--footer-box-bg);
  }

  // placeholder color
  mat-form-field {
    .mat-hint,
    input,
    ::placeholder,
    .mat-form-field-label {
      color: var(--label);
    }
  }
}

// mat-input caret color
.mat-input-element {
  caret-color: var(--contrast-text) !important;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  button {
    background-color: var(--contrast-text);
    color: var(--background-color);
    height: 45px;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 0px 15px 17px 2px var(--contrast-text-rgb);
    -webkit-box-shadow: 0px 15px 17px 2px var(--contrast-text-rgb);
    -moz-box-shadow: 0px 15px 17px 2px var(--contrast-text-rgb);
    text-transform: uppercase !important;

    &:disabled {
      background-color: var(--label);
      box-shadow: none;
    }
  }
}

.footer {
  max-width: 1000px;
  margin: 50px auto 0 auto;
  .footer-item {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 50px;

    .icontainer {
      padding-top: 10px;
      mat-icon {
        font-size: 32px;
      }
    }
    .footer-text {
      margin-top: 10px;
      .text-line {
        color: var(--label);
        font-weight: 600;
        text-align: center;
      }
    }
  }
}

body.dark-mode mat-icon {
  filter: brightness(0.5);
}

@media (min-width: 768px) {
  .footer {
    margin: 90px auto 0 auto;

    .footer-item {
      margin-bottom: 0px;
    }
  }
}
