.main {
  min-height: 100%;
}

.contact-wrapper {
  margin: 0 auto 60px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;

  .label1 {
    font-size: 18px;
    padding: 8px;
  }

  .separator {
    width: 50px;
    height: 3px;
    background-color: #dea01e;
  }

  .label2 {
    font-size: 20px;
    padding: 5px;
  }
}

.form-wrap {
  margin-top: 70px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  mat-form-field {
    width: 100%;

    input,
    textarea {
      color: white;
    }

    textarea {
      height: 180px;
    }
  }
}

::ng-deep {
  // mat-label focused style
  .mat-form-field.mat-focused .mat-form-field-label {
    color: #dea01e !important;
  }

  // mat-input focused color
  .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #dea01e !important;
  }

  // border bottom line
  .mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #dea01e !important;
  }

  // Color of mat form.
  .mat-form-field-appearance-fill .mat-form-field-flex {
    background: rgb(25, 28, 35);
    background: linear-gradient(
      90deg,
      rgba(25, 28, 35, 1) 0%,
      rgba(33, 36, 42, 1) 44%,
      rgba(39, 42, 47, 1) 80%
    );
  }

  // placeholder color
  mat-form-field {
    .mat-hint,
    input,
    ::placeholder,
    .mat-form-field-label {
      color: #8f8f91;
    }
  }
}

// mat-input caret color
.mat-input-element {
  caret-color: #dea01e !important;
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  button {
    background-color: #dea01e;
    color: #fff;
    height: 45px;
    font-weight: 500;
    font-size: 18px;
    box-shadow: 2px 9px 15px 7px rgba(222, 160, 30, 0.29);
    -webkit-box-shadow: 2px 9px 15px 7px rgba(222, 160, 30, 0.29);
    -moz-box-shadow: 2px 9px 15px 7px rgba(222, 160, 30, 0.29);
    text-transform: uppercase !important;
  }
}

.footer {
  max-width: 1000px;
  margin: 50px auto 0 auto;
  .footer-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;

    .icontainer {
      padding-top: 10px;
      mat-icon {
        font-size: 32px;
      }
    }
    .footer-text {
      margin-top: 10px;
      .text-line {
        color: #6f7072;
        font-weight: 600;
        text-align: center;
      }
    }
  }
}

@media (min-width: 768px) {
  .footer {
    margin: 90px auto 0 auto;

    .footer-item {
      margin-bottom: 0px;
    }
  }
}
