.blog-wrapper {
  margin: 70px auto 60px auto;
  max-width: 350px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);

  .label1 {
    font-size: 18px;
    padding: 8px;
  }

  .separator {
    width: 50px;
    height: 3px;
    background-color: var(--contrast-text);
  }

  .label2 {
    font-size: 20px;
    padding: 5px;
    text-align: center;
  }
}

.blog {
  .blog-head {
    margin-bottom: 60px;

    .row {
      .blog-head-left {
        img {
          width: 100%;
          height: 380px;
          object-fit: cover;
        }
      }

      .blog-head-right {
        display: flex;
        flex-direction: column;
        .blog-head-date {
          color: var(--label);
          font-size: 20px;
          padding: 5px 0;
        }
        .blog-head-title {
          color: var(--text-color);
          font-size: 55px;
          font-weight: 300;
          padding: 5px 0;
        }
        .blog-head-desc {
          color: var(--text-color);
          font-size: 20px;
          padding: 5px 0;
        }
      }
    }
  }

  .blog-body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    grid-gap: 20px;
    align-items: stretch;
    padding: 20px 0;

    .blog-item {
      margin: 0 auto;
      height: 405px;
      width: 100%;
      max-width: 300px;
      border-radius: 7px;
      background: var(--footer-box-bg);
      box-shadow: 1px 0px 8px 5px var(--footer-box-shadow);
      -webkit-box-shadow: 1px 0px 8px 5px var(--footer-box-shadow);
      -moz-box-shadow: 1px 0px 8px 5px var(--footer-box-shadow);
      overflow-x: hidden;

      .bg-item-img-container {
        width: 100%;
        margin: 0 auto;
        height: 200px;
        border-radius: 5px;
        position: relative;

        .head-date {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          top: 10px;
          left: 10px;
          padding: 15px 20px;
          height: 35px;
          border-radius: 3px;
          background: var(--footer-box-bg);
          color: var(--label);
          cursor: default;
        }

        img {
          width: 100%;
          height: 100%;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
        }
      }

      .bg-item-data {
        padding: 20px;
        position: relative;
        height: 50%;

        .bg-item-title {
          color: var(--text-color);
          font-size: 20px;
        }

        .bg-item-desc {
          color: var(--label);
          font-size: 16px;
          padding: 15px 0;
        }

        .goto-blog {
          position: absolute;
          bottom: 10px;
          right: 10px;
          z-index: 30;

          button {
            width: 30px;
            height: 30px;
            position: relative;
            background-color: var(--background-color);

            mat-icon {
              position: relative;
              bottom: 1px;
              right: -1px;
              font-size: 17px;
            }
          }
        }
      }
    }
  }
}
