<div class="container fluid main">
  <div class="blog-wrapper">
    <div class="label1">{{ "blog_recent_articles" | translate }}</div>
    <div class="separator"></div>
    <div class="label2">{{ "blog_visit" | translate }}!</div>
  </div>

  <div class="blog">
    <div class="blog-head" *ngIf="currentSelectedBlog">
      <div class="row">
        <div class="col-12 col-md-6 blog-head-left">
          <img [src]="currentSelectedBlog.image" />
        </div>
        <div class="col-12 col-md-6 blog-head-right">
          <div class="blog-head-date">
            {{ currentSelectedBlog.date | date }}
          </div>
          <div class="blog-head-title">
            {{ currentSelectedBlog.title }}
          </div>
          <div class="blog-head-desc">
            {{ formatDesc(currentSelectedBlog.desc, 250) }}
          </div>
        </div>
      </div>
    </div>

    <div class="blog-body">
      <div class="blog-item" *ngFor="let item of displayedBlogs">
        <div class="bg-item-img-container">
          <div class="head-date">{{ item.date | date : mediumDate }}</div>
          <img [src]="item.img" />
        </div>
        <div class="bg-item-data">
          <div class="bg-item-title">{{ item?.title }}</div>
          <div class="bg-item-desc">
            {{ formatDesc(item?.desc, 80) }}
          </div>
          <div class="goto-blog">
            <button mat-mini-fab (click)="setBlogToHead(item)">
              <mat-icon [style.color]="ui.isLightMode() ? 'black' : 'white'">
                arrow_forward_ios
              </mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
