<div class="container fluid main">
  <div class="main-hero">
    <div class="row">
      <div class="col-12 col-lg-7 left-hero">
        <div class="welcome-label">{{ "home_welcome" | translate }}</div>
        <div class="name-head">
          {{ "home_hi" | translate }} <span>Mauro Ríos</span>
        </div>
        <div class="subhead">
          {{ "home_subhead" | translate }}
        </div>
        <div class="label-description">
          {{ "home_description" | translate }}
        </div>

        <div class="hero-footer row">
          <div class="col-12 col-lg-6">
            <div class="footer-item-label">
              {{ "home_findme" | translate }}
            </div>
            <div class="footer-item-container">
              <div
                class="footer-box"
                *ngFor="let item of findWithMe"
                (click)="goToLink(item.goto)"
              >
                <img
                  [src]="isLightMode() ? item.logo_dark : item.logo"
                  [alt]="item.alt"
                />
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="footer-item-label">
              {{ "home_skills" | translate }}
            </div>
            <div class="footer-item-container">
              <div
                class="footer-box"
                *ngFor="let item of bestSkills"
                (click)="goToLink(item.goto)"
              >
                <img [src]="item.logo" [alt]="item.alt" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 right-hero">
        <img src="../../../assets/placeholder-home.png" alt="image-me" />
      </div>
    </div>
  </div>
</div>
