.left-hero {
  display: flex;
  flex-direction: column;
  .welcome-label {
    color: #8e8f91;
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .name-head {
    color: #fefefe;
    font-size: 45px;
    font-weight: 600;

    span {
      color: #dea01e;
    }
  }

  .subhead {
    color: #fefefe;
    font-size: 35px;
    padding-top: 12px;
    font-weight: 600;
  }

  .label-description {
    margin-top: 40px;
    color: #7d7e80;
    font-weight: 600;
    font-size: 18px;
  }

  .hero-footer + .hero-footer {
    margin-bottom: 30px;
  }
  .hero-footer {
    margin-top: auto;
    display: flex;
    margin: 90px 0;
    height: 300px;

    .footer-item-label {
      color: #7d7e80;
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;
      text-align: center;
    }
    .footer-item-container {
      display: flex;
      justify-content: center;
      .footer-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 5px;
        background: rgb(26, 29, 34);
        background: linear-gradient(
          156deg,
          rgba(26, 29, 34, 1) 0%,
          rgba(32, 35, 40, 1) 29%,
          rgba(38, 41, 46, 1) 80%
        );

        box-shadow: 1px 0px 8px 5px rgb(43 46 51 / 75%);
        -webkit-box-shadow: 1px 0px 8px 5px rgb(43 46 51 / 75%);
        -moz-box-shadow: 1px 0px 8px 5px rgb(43 46 51 / 75%);

        img {
          width: 25px;
          height: 25px;
        }
      }

      .footer-box + .footer-box {
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: 992px) {
  .left-hero {
    .welcome-label {
      margin-bottom: 0;
    }
    .name-head {
      font-size: 80px;
    }
    .subhead {
      font-size: 50px;
    }

    .label-description {
      font-size: 20px;
    }

    .hero-footer {
      height: auto;
      justify-content: space-around;
      .footer-item-label {
        text-align: left;
      }
      .footer-item-container {
        justify-content: flex-start;

        .footer-box {
          img {
          }
        }
      }
    }
  }
}
.right-hero {
  margin-bottom: 50px;
  img {
    height: 100%;
    width: 100%;

    box-shadow: 1px 0px 20px 6px rgb(43 46 51 / 75%);
    -webkit-box-shadow: 1px 0px 20px 6px rgb(43 46 51 / 75%);
    -moz-box-shadow: 1px 0px 20px 6px rgb(43 46 51 / 75%);
  }
}

.about-me {
  margin-top: 80px;
  display: flex;
  flex-direction: column-reverse;

  .left-about-me {
    margin-top: 50px;
    img {
      height: 100%;
      width: 100%;

      box-shadow: 1px 0px 20px 6px rgb(43 46 51 / 75%);
      -webkit-box-shadow: 1px 0px 20px 6px rgb(43 46 51 / 75%);
      -moz-box-shadow: 1px 0px 20px 6px rgb(43 46 51 / 75%);
    }
  }

  .right-about-me {
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .info-header {
      font-size: 25px;
      font-weight: 600;
      color: #fefefe;
      padding: 30px 0;
    }

    .info-description {
      font-size: 19px;
      color: #fefefe;
      font-weight: 400;
    }

    .info-button-container {
      width: 100%;
      height: 70px;
      margin-top: 50px;
      button {
        background-color: #dea01e;
        color: #fefefe;
        height: 45px;
        font-weight: 500;
        font-size: 18px;
        box-shadow: 0px 15px 17px 2px rgba(222, 160, 30, 0.29);
        -webkit-box-shadow: 0px 15px 17px 2px rgba(222, 160, 30, 0.29);
        -moz-box-shadow: 0px 15px 17px 2px rgba(222, 160, 30, 0.29);
        text-transform: uppercase !important;
      }
    }
  }
}

@media (min-width: 992px) {
  .about-me {
    flex-direction: row;

    .left-about-me {
      margin: 0;

      img {
      }
    }

    .right-about-me {
      padding: 50px;

      .info-header {
      }

      .info-description {
      }

      .info-button-container {
        button {
        }
      }
    }
  }
}
