.main-hero {
  margin-top: 80px;
}

.left-hero {
  display: flex;
  flex-direction: column;
  .welcome-label {
    color: var(--label);
    height: 50px;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 40px;
  }

  .name-head {
    color: var(--text-color);
    font-size: 45px;
    font-weight: 600;

    span {
      color: var(--contrast-text);
    }
  }

  .subhead {
    color: var(--text-color);
    font-size: 35px;
    padding-top: 12px;
    font-weight: 600;
  }

  .label-description {
    margin-top: 40px;
    color: var(--label);
    font-weight: 600;
    font-size: 18px;
  }

  .hero-footer + .hero-footer {
    margin-bottom: 30px;
  }
  .hero-footer {
    margin-top: auto;
    display: flex;
    margin: 90px 0;
    height: 300px;

    .footer-item-label {
      color: var(--label);
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 10px;
      text-align: center;
    }
    .footer-item-container {
      display: flex;
      justify-content: center;
      .footer-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        border-radius: 5px;
        background: var(--home-items-gradient);

        box-shadow: 1px 0px 8px 5px var(--footer-box-shadow);
        -webkit-box-shadow: 1px 0px 8px 5px var(--footer-box-shadow);
        -moz-box-shadow: 1px 0px 8px 5px var(--footer-box-shadow);

        img {
          width: 25px;
          height: 25px;
        }
      }

      .footer-box + .footer-box {
        margin-left: 20px;
      }
    }
  }
}

@media (min-width: 992px) {
  .left-hero {
    .welcome-label {
      margin-bottom: 0;
    }
    .name-head {
      font-size: 80px;
    }
    .subhead {
      font-size: 50px;
    }

    .label-description {
      font-size: 20px;
    }

    .hero-footer {
      height: auto;
      justify-content: space-around;
      .footer-item-label {
        text-align: left;
      }
      .footer-item-container {
        justify-content: flex-start;

        .footer-box {
          img {
          }
        }
      }
    }
  }
}
.right-hero {
  margin-bottom: 50px;
  img {
    height: 100%;
    width: 100%;
    box-shadow: 1px 0px 20px 6px var(--footer-box-shadow);
    -webkit-box-shadow: 1px 0px 20px 6px var(--footer-box-shadow);
    -moz-box-shadow: 1px 0px 20px 6px var(--footer-box-shadow);
  }
}
