.header-wrapper {
  margin: 70px auto 60px auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);

  .label1 {
    font-size: 18px;
    padding: 8px;
  }

  .separator {
    width: 50px;
    height: 3px;
    background-color: var(--contrast-text);
  }

  .label2 {
    font-size: 20px;
    padding: 5px;
  }
}

.portfolio-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
  padding: 20px 0;

  .portfolio-item {
    // only in mobile
    margin: 0 auto;
    // only in mobile
    padding: 20px;
    height: 300px;
    width: 100%;
    max-width: 300px;
    border-radius: 7px;
    background: var(--portfolio-items-gradient);
    box-shadow: 1px 0px 8px 5px var(--footer-box-shadow);
    -webkit-box-shadow: 1px 0px 8px 5px var(--footer-box-shadow);
    -moz-box-shadow: 1px 0px 8px 5px var(--footer-box-shadow);

    .pf-item-img-container {
      width: 100%;
      margin: 0 auto;
      height: 150px;
      border-radius: 5px;
      img {
        width: 100%;
        height: 100%;
      }
    }

    .pf-item-data {
      .pf-item-data-upper {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;

        .type {
          display: flex;
          align-items: center;
          color: var(--contrast-text);
        }

        .counter {
          display: flex;
          align-items: center;
          color: var(--text-color);
        }
      }

      .pf-item-data-lower {
        color: var(--text-color);
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 768px) {
  .portfolio-wrapper {
    .portfolio-item {
      margin: 0;
      .pf-item-img-container {
        img {
        }
      }

      .pf-item-data {
        .pf-item-data-upper {
          .type {
          }

          .counter {
          }
        }

        .pf-item-data-lower {
        }
      }
    }
  }
}
