.wrap-padding {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 50px;
  background-color: var(--background-color);
  min-height: calc(100% - 100px);
}

@media (min-width: 768px) {
  .wrap-padding {
    padding-top: 100px;
  }
}
