/* Modo claro */
:root {
  --background-color: #ecf0f3;
  --contrast-text: #ff014f;
  --contrast-text-rgb: rgba(255, 1, 79, 0.29);
  --label: #000;
  --text-color: black;
  --footer-box-bg: #ffffff;
  --footer-box-shadow: rgba(0, 0, 0, 0.15);
  --contrast-active-flag: #8a8a8a;
  --home-items-gradient: #ffffff;
  --contact-inputs-gradient: #ffffff;
  --portfolio-items-gradient: #ffffff;
}

/* Modo oscuro */
body.dark-mode {
  --background-color: #212429;
  --label: #8e8f91;
  --contrast-text: #ff014f;
  --contrast-text-rgb: rgba(255, 1, 79, 0.29);
  --text-color: white;
  --footer-box-bg: rgb(38, 41, 46);
  --footer-box-shadow: rgb(43, 46, 51);
  --contrast-active-flag: #8a8a8a;
  --home-items-gradient: linear-gradient(
    119deg,
    rgba(25, 28, 35, 1) 0%,
    rgba(31, 35, 41, 1) 59%,
    rgba(39, 43, 47, 1) 100%
  );
  --contact-inputs-gradient: linear-gradient(
    119deg,
    rgba(24, 27, 34, 1) 4%,
    rgba(40, 43, 48, 1) 100%
  );
  --portfolio-items-gradient: linear-gradient(
    162deg,
    rgba(9, 4, 18, 1) 4%,
    rgba(60, 61, 66, 1) 82%,
    rgba(73, 76, 79, 1) 100%
  );
}

html,
body {
  height: 100%;
  overflow: visible;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.row {
  margin: 0;
}

.main {
  min-height: 100%;
  overflow-x: hidden;
}

// Esto modifica el mat-menu (ex, language).
::ng-deep .mat-menu-content {
  background-color: var(--background-color);
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: -1px -1px 33px 4px rgba(42, 45, 52, 0.76);
  -webkit-box-shadow: -1px -1px 33px 4px rgba(42, 45, 52, 0.76);
  -moz-box-shadow: -1px -1px 33px 4px rgba(42, 45, 52, 0.76);
}

.mat-menu-panel {
  width: 218px !important;
}
