html,
body {
  height: 100%;
  overflow: visible;
}
body {
  height: 100%;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

.row {
  margin: 0;
}

// Dark main color: #212429;
// Contrast dark main color: #dea01e;
// Inspiration:
// https://dribbble.com/shots/16483224/attachments/11311087?mode=media

// Translation:
// https://www.youtube.com/watch?v=oxigDfDfD8Q

// Theming:
// https://www.youtube.com/watch?v=r6Ygw9L55zg
